:root {
  --bg: #000000;
  --scale: 2px;
  --cell: calc(var(--scale) * 16);
}

@media(min-width: 600px) {
  :root {
    --scale: 3px;
  }
}

@font-face {
  font-family: PatrickHand;
  src: url("assets/PatrickHand-Regular.ttf");
}

body {
  background: var(--bg);
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 700px;
  overflow: hidden;
}

#map {
  background: url("assets/map.png") no-repeat no-repeat;
  background-size: 100%;
  width: calc(12 * var(--cell));
  height: calc(11 * var(--cell));
  position: absolute;
}

.character {
  width: var(--cell);
  height: var(--cell);
  position: absolute;
  overflow: hidden;
}

.sprites {
  background: url("assets/sprites.png") no-repeat no-repeat;
  background-size: 100%;
  width: calc(8 * var(--cell));
  height: calc(10 * var(--cell));
  position: absolute;
}

.character#pc .sprites {
  background-position-x: calc(-16*var(--scale));
  background-position-y: 0;
  animation-name: pcIdleAnimation;
  animation-timing-function: steps(2, jump-none);
  animation-duration: 750ms;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes pcIdleAnimation {
  to {
    background-position-x: calc(-16*var(--scale));
    background-position-y: calc(-32*var(--scale));
  }
}


.character#npc1 .sprites {
  background-position-x: calc(-64*var(--scale));
  background-position-y: calc(var(--scale));
}