:root {
  --bg: #000000;
  --cell-size: 8vmin;
}

@font-face {
  font-family: PatrickHand;
  src: url("assets/PatrickHand-Regular.ttf");
}

body {
  background: var(--bg);
  display: flex;
  overflow: hidden;
  perspective: 800px;
}

#map {
  background: url("assets/map.png") no-repeat no-repeat;
  background-size: contain;
  width: calc(12 * var(--cell-size));
  height: calc(11 * var(--cell-size));
  margin: auto;
}

.character {
  width: var(--cell-size);
  height: var(--cell-size);
  overflow: hidden;
}

.sprites {
  background: url("assets/sprites.png") no-repeat no-repeat;
  background-size: 100%;
  width: calc(8 * var(--cell-size));
  height: calc(10 * var(--cell-size));
}

.character#pc .sprites {
  background-position-x: calc(-1 * var(--cell-size));
  background-position-y: 0;
  animation-name: pcIdleAnimation;
  animation-timing-function: steps(2, jump-none);
  animation-duration: 750ms;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes pcIdleAnimation {
  to {
    background-position-x: calc(-1 * var(--cell-size));
    background-position-y: calc(-2 * var(--cell-size));
  }
}